.custom-navbar {
    background-color: rgb(113, 44, 249) !important;
  }
  

  .custom-button {
    background-color: rgb(113, 44, 249) !important;
    color:#fff;
  }

  .custom-button:hover {
    background-color: rgb(83, 34, 182) !important;
    color:#fff;
  }


  .custom-outline-button {
    
        outline: 1px solid rgb(113, 44, 249) !important; /* Width, Style, Color */
        outline-offset: 2px !important; /* Optional: space between the outline and the border of the button */
        color:#fff;
    }
    

    .custom-outline-button:hover {
     background-color: rgb(113, 44, 249) !important;
    }
    
 .text-white-colour {
  color:#fff;
 }